{% extends 'base.html' %}

{% block content %}
    <p>{{ teachers|length }} Titles</p>
    <ul class="chooselist">
        第一志愿<br>
        {% for stu in students %}
        <li>{{ stu.id }}
            <span class="float-right">
                <a class="detail" href="http://127.0.0.1:5000/s/inf/{{ stu.id }}" target="_blank" title="Click for more details">详情</a>
            </span>
        </li>
        {% endfor %}
        第二志愿<br>
        {% for stu1 in students1 %}
        <li>{{ stu1.id }}
            <span class="float-right">
                <a class="detail" href="http://127.0.0.1:5000/s/inf/{{ stu1.id }}" target="_blank" title="Click for more details">详情</a>
            </span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
